:root {
  --primary-color: #468cca6e;
  --secondary-color: #1c6cae80;
  --font-color: #b4c4d180;

}
nav {
  background-color: var(--secondary-color);
  height: 40px;
  color: var(--font-color);
  margin-top: 0px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
}

.logo {
  height: 35px;
  aspect-ratio: 1/1;
  float: left;

}

.title {
  text-align: center;
  font-weight: bold;
  font-size: large;
  background-color: var(--secondary-color);
  color: var(--font-color);
  padding: 7px;
}

.parm-logo {
  height: 25px;
  aspect-ratio: 1/1;
  float: left;
}

body {
  background-color: var(--font-color);
}

.cities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  margin-top: 1vh;
}

.info-panel {
  height: 52vh;
  position: absolute;
  top: 43vb;
  right: 2vb;
  bottom: 10vh;
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: medium;
  font-weight: bold;
  width: 100vb;
}

fieldset {
  background-color: var(--primary-color);
  color: var(--font-color);
  border-radius: 5px;
padding-top: 20px;
border-color: var(--primary-color);;
width: 100vb;
}

legend {
  background-color: var(--primary-color);
  color: var(--font-color);
  border: 1px thin var(--secondary-color);
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
justify-content: space-evenly;
}
.text-conf-title {
  text-align: center;
padding: 5px;
border-radius: 2px;
}
.text-title {
  text-align: center;
  font-weight: bold;
  font-size: large;
  background-color: var(--secondary-color);
  color: var(--font-color);
  padding: 7px;
}

.time-unit {
  display: flex;
}

.txt-city {
  display: flex;
}

.date {
  display: flex;
}

.txt-gio {
  display: flex;
}

.txt-pin {
  display: flex;
}

input {
  margin: 5px;
  padding: 5px;
  width: 150px;
  background-color: var(--secondary-color);
  border: none;
  color: var(--font-color);
}
input::placeholder {
  color: var(--font-color);
}


select {
  margin: 5px;
  padding: 5px;
  width: 150px;
  background-color: var(--secondary-color);
  border: none;
  color: var(--font-color);
}

.submit {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--font-color);
  margin: 5px;
  padding: 10px;
  width: 165px;
  border-radius: 2px;
}

.submit:hover {
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);

}

.txt {
  margin: 1px;
  padding: 1vb;
  width: 18vb;
  min-width: 18vb;
}

label {
  all: unset;
}
.button-bar {
  display: block;
  float: right;
}